.button{
  margin-top:1.2em;
  margin-left: .2em;
}
img{
  position: relative;
  float: right;
  width: 225px;
  height:325px;
}
p{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 0.80em;
  padding-top:5px;
}

:host {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 2px solid;
    background-color: #29394b;
    padding: 10px;
    color: #bdc2c5;
  }
  h2 {
    font-size: 2.3em;
    flex: 1;
  }
  :host.medium-movies {
    border-color: #53ace4;
  }
  :host.medium-movies > h2 {
    color: #53ace4;
  }
  :host.medium-series {
    border-color: #45bf94;
  }
  :host.medium-series > h2 {
    color: #45bf94;
  }
  
  .details-this {
    padding-top: 1em;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    height:100%;
  }

  @media only screen and (max-width: 770px){
    img{
      min-width: 50x;
      min-height: 75px;
    }

    :host {
      display: flex;
      flex-direction: column;
      min-width: 75px;
      min-height: 150px;
      border: 2px solid;
      background-color: #29394b;
      padding: 10px;
      color: #bdc2c5;
    }
    h2 {
      font-size: 1.5em;
      flex: 1;
    }
    .details-this {
      padding-top: 1em;
      font-size: 20px;
      color: #ffffff;
      text-decoration: none;
      height:100%;
    }
  
  }